.git
.github
node_modules
vendor
bootstrap/cache/*.php
public/build
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.key
database/*.sqlite
database/*.sqlite-journal
.env
.env.*
!.env.example
.phpunit.result.cache
.idea
.vscode
tests
